<!-- project/delete_review.html -->
<!-- author: Grace Sewell -->
<!-- description: deleting a review page for final project -->
<html>

    {% extends 'project/base.html' %}

    {% block content %}

    <h1>Are you sure you want to delete this review?</h1>
    <table>
        <tr>
            <td>
                <form method="GET" action="{% url 'show_restaurant' rvw.restaurant.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="No">
                </form>
            </td>
            <td>
                <form method="POST" >
                    {% csrf_token %}
                    <input type="submit" value="Yes">
                </form>
            </td>
        </tr>
    </table>
    

    {% endblock %}

</html>