

{% extends 'project/base.html' %}

{% block content %}

<h1>{{restaurant.name}} Menu </h1>

<div class="row">
    <div class="column">

        

        {% for item in restaurant.get_menu %}

            <p style="text-align:center">
                {{item.name}}
            </p> 

        {% endfor %}
        
    </div>
    <div class="column">
        
        {% for item in restaurant.get_menu_pics %}
        <p>
            <img src="{{item.img}}" style="max-width:250">
        </p>
        {% endfor %}


    </div>

{% endblock %}
