<!-- project/show_all_restaurants.html -->
<!-- author: Grace Sewell -->
<!-- description: all restaurant listings -->

{% extends 'project/base.html' %}

{% block content %}

<h2>BU Restafinder</h2>

<!--Displaying restaurants-->

<!-- create a loop to display restaurants-->
<table class="centertable">
    <colgroup>
        <col span="1" style="width: 33%">
        <col span="1" style="width: 33%">
        <col span="1" style="width: 33%">
    </colgroup>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Cuisine</th>
    </tr>
{% for restaurant in restaurants %}

    <tr>
        <td>
            
                <img src="{{restaurant.image}}" style="max-width:150" class="center">
            
        
        </td>
        <td><a href='/project/restaurant/{{restaurant.pk}}'>{{restaurant.name}}</a></td>
        <td>
            {{restaurant.rescuisine}}
        </td>

    </tr>

{% endfor %}
</table>

{% endblock %}
