<html>

    {% extends 'mini_fb/base.html' %}

    {% block content %}

    <h1>Are you sure you want to delete this status message?</h1>
    <table>
        <tr>
            <td>
                <form method="GET" action="{% url 'show_profile_page' st_msg.profile.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="No">
                </form>
            </td>
            <td>
                <form method="POST" >
                    {% csrf_token %}
                    <input type="submit" value="Yes">
                </form>
            </td>
        </tr>
    </table>
    

    {% endblock %}

</html>